extends layout

block content
  div#unsupported
    p Tyv채rr! Din webbl채sare klarar inte riktigt av detta.
      br
      a(href='http://browsehappy.com/') Ladda ner en b채ttre idag - helt gratis!
  div#loading
    p h채mtar data
