!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title= locals.title
      link(rel='stylesheet', href='/styles/main.css')
      script(src='/scripts/main.js')
  body
    block content
