
body {

}

svg {
  background-color: #dadada;

  .node {
    opacity: 0.75;
    .reach {
      opacity: 0;
    }
    &.active {
      opacity: 1;
      stroke: #f200d3;
      .reach {
        opacity: 1;
        line {
          stroke: #f200d3;
        }
        circle {
          fill: white;
          stroke: #f200d3;
        }
      }
    }
  }

  .reach {
    line {
      stroke-width: 1;
      stroke: #fb5fe2;
      // stroke-dasharray: 1;
    }
    circle {
      fill: #ff00ce;
    }
  }

  path.country {
    fill: #eeeeee;
    stroke: #30005f;
    &.id752 {
    }
  }
}
